@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225, 59%, 11%;
    --foreground: 0 0% 98%;

    --card: 225, 40%, 18%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 213, 30%, 32%;
    --primary-foreground: 0 0% 98%;

    --secondary: 213, 30%, 32%;
    --secondary-foreground: 0 0% 98%;

    --muted: 225, 40%, 18%;
    --muted-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 213, 30%, 32%;
    --input: 213, 30%, 32%;
    --ring: 0 0% 83.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
